<a href="https://colab.research.google.com/github/Deekshith1064/B21_1414/blob/main/PandasTask.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
import pandas as pd

# Student Data
student_data = {
    'S_Name': ['Ravi', 'Neha', 'Kiran', 'Sita'],
    'S_RollNo': [101, 102, 103, 104],
    'M1': [85, 90, 78, 92],
    'M2': [83, 90, 71, 91],
    'M3': [80, 98, 70, 91],
}

# Create DataFrame
df = pd.DataFrame(student_data)

# Calculate Total
df['Total'] = df['M1'] + df['M2'] + df['M3']

# Calculate Result (Pass if Total > 150 else Fail)
df['Result'] = ['Pass' if total > 150 else 'Fail' for total in df['Total']]

# Calculate Average
df['Average'] = df['Total'] / 3

# Reset index to start from 1
df.index = df.index + 1
df.index.name = "S_No"

# Display final DataFrame
print(df)

     S_Name  S_RollNo  M1  M2  M3  Total Result    Average
S_No
1      Ravi       101  85  83  80    248   Pass  82.666667
2      Neha       102  90  90  98    278   Pass  92.666667
3     Kiran       103  78  71  70    219   Pass  73.000000
4      Sita       104  92  91  91    274   Pass  91.333333